<template name="MainLayout">
    <body>
        <header>
            <nav class="indigo">
                <div class="nav-wrapper" style="margin-left:20px; margin-right: 20px;">
                    <a href="#" class="brand-logo">Polls</a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        {{#if isLoggedIn}}
                        <li><a id="logout">Log Out</a></li>
                        {{else}}
                        <li><a href="/login">Log In</a></li>
                        <li><a href="/signin">Sign Up</a></li>
                        {{/if}}
                    </ul>
                </div>
            </nav>
        </header>

        <main>
            <div id="content">
                {{> Template.dynamic template=main}}
            </div>
        </main>

        <footer class="page-footer indigo">
            <div class="footer-copyright">
                <div class="container">
                    © 2016 Copyright Text
                    <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
                </div>
            </div>
        </footer>
    </body>

</template>
