<template name="MainLayout">
    <body>
        <header>
            <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/">Polls</a>
                    </div>

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-left">
                            <li><a class="nav-item" id="fresh" href="/fresh">Fresh</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            {{#if isLoggedIn}}
                            <li><a class="nav-item" id="logout" href="#">Log Out</a></li>
                            {{else}}
                            <li><a class="nav-item" href="/login">Log In</a></li>
                            <li><a class="nav-item" href="/signin">Sign Up</a></li>
                            {{/if}}
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        <main>
            <div id="content" style="margin-top:50px;">
                {{> Template.dynamic template=main}}
            </div>
        </main>

        <footer class="footer" >
            <div class="container" style="height:inherit;">
                <p class="text-muted" style="vertical-align:middle;display:table-cell;height:inherit;">© 2016 Copyright Text</p>
            </div>
        </footer>
    </body>

</template>
